* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* start container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end container */
.container h1 {
    margin-top: 100px;
}

body {
    font-family: "work sans", sans-serif;
    /* background-image: linear-gradient(to right, red 35%, green 35%, green 70%, blue); */
    background-color: #5b5b5b;
}

.login-box {
    background-image: linear-gradient(to right, #666 50%, #333);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0px 15px 3px white;
    border-radius: 15px;
    text-align: center;
}

/* Small */
@media (max-width: 768px) {
    .login-box {
        width: 300px;
    }
}

/* Medium */
@media (min-width: 769px) {
    .login-box {
        width: 450px;
    }
}



.login-box input {
    margin: 5px 5px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

/* link create new acount  */
.login-box form p a {
    text-decoration: none;
}